* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #343a40;
  color: white;
  font: 1em sans-serif;
  text-align: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Counter styling */

.counter {
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: larger;
}

.counter button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  color: inherit; /* Inherit from parent color */
  border-radius: 5px;
  width: 40px;
  aspect-ratio: 1;
  transition: all 0.3s ease;
}

.counter button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  transition: all 0.3s ease;
}
